<div id="salon-normal-wrapper" class="enterprise">
    <div class="pageEntry" id="salonServices">
        <div class="page-width">
            {%- if page.metafields.accentuate.section_title != blank -%}
            <h3 id="salonServiceHeader">{{ page.metafields.accentuate.section_title }}</h3>
            {%- else -%}
            <h3 id="salonServiceHeader">Services</h3>
            {%- endif -%}
            {%- if page.metafields.accentuate.salon_service_message != blank -%}
            <div id="salonServiceMessage" style="max-width:750px; margin:0 auto; margin-top:-30px;">
                <div class="text-center">
                  {{ page.metafields.accentuate.salon_service_message }}
                  <p class="e-gift-msg" style="padding:25px 30px; line-height:1.3; background:#ffd8bf; font-size:18px;">Booking a treatment with an e-gift card? <br>Please call your preferred <a href="https://www.ellabache.com.au/pages/find-a-salon">salon</a> location to make an appointment.</p>
                </div>
            </div>
            {%- endif -%}
            {% include 'shortcutswidget', widgetcontainer: "booking-service-selection-list", widgetpath:
            "booking/service-selection-list" %}
        </div>
    </div>
    {%- if page.metafields.accentuate.enable_salon_booking == blank -%}
    {%- if page.metafields.accentuate.salon_waiting_list != blank -%}
    <script>
        jQuery(window).on('load',function () {
            var salonNameTitle = '{{ page.handle }}';
            if (salonNameTitle == 'perth') {
                salonNameTitle = '/' + salonNameTitle;
            }
            salonNameTitle = encodeURIComponent(salonNameTitle);
            var shortcutsWidgetCheckInterval = setInterval(checkShortcutsWidget, 4000);
            function checkShortcutsWidget() {
                var shortcutsWidgetLength = $("#booking-service-selection-list").length;
                if (shortcutsWidgetLength > 0) {
                    clearInterval(shortcutsWidgetCheckInterval);
                    $("#booking-service-selection-list .sw-widget-service-book-button").each(function () {
                        var serviceMainTitle = $(this).parents('div.sw-widget-category').children('h2').text();
                        var serviceNameTitle = $(this).next('h3').text();
                        var serviceParams = '&service_interested=' + serviceMainTitle + ' [' + serviceNameTitle + ']',
                            serviceNameFinal = encodeURIComponent(serviceMainTitle + ' [' + serviceNameTitle + ']');
                        $(this).append("<a target='_blank' data-service='" + serviceNameFinal + "' href='https://ellabache.typeform.com/to/fLtfCH' class='typeform-share button-waiting-list' data-mode='popup'>Join waiting list</a>");
                    });
                    $(".button-waiting-list").on('click', function (e) {
                        e.preventDefault();
                        var serviceNameFinal = $(this).attr('data-service');
                        var serviceParams = '&service_interested=' + serviceNameFinal;
                        window.typeformEmbed.makePopup('https://ellabache.typeform.com/to/fLtfCH?salon_name=' + salonNameTitle + serviceParams + gclidNew + utm_sourceNew + utm_mediumNew + utm_campaignNew + utm_termNew, {
                            mode: 'popup',
                            autoOpen: true
                        });
                    });
                }
            }
            
        });
    </script>
    {%- endif -%}
    {%- endif -%}
    <script>
        jQuery(window).on('load',function () {
            $(document).on('click', '#showPolicy', function (e) {
                e.preventDefault();
                $('.bookingPolicy').hide();
                $('#showPolicy').hide();
            });
            $(document).on('click', '#hidePolicy', function (e) {
                e.preventDefault();
                $('.bookingPolicy').show();
                $('#showPolicy').show();
            });
        });
    </script>
</div>