{%- capture heroSlider -%}
  <div class="hero-slider">
    {%- assign index = 0 -%}
    {%- for block in section.blocks -%}
      {%- if block.type == "image-slide" -%}
        {%- if block.settings.banner_enable != blank -%}
          <div class="item">
            <img src="https://cdn.shopify.com/s/files/1/0119/6028/7313/files/find-salon.jpg?v=1628499741" alt="">
          </div>
        {%- endif -%}
      {%- elsif block.type == "video-slide" -%}
        {%- if block.settings.video_enable != blank -%}
          <div class="item">
            <div class="flex-container video-item">
              <video class="videoslider" controls>
                <source src="https://cdn.shopify.com/s/files/1/2999/1646/files/ellabache-promo-video.mp4?v=1619590321" type="video/mp4">
              </video>
            </div>
          </div>
        {%- endif -%}
      {%- endif -%}
    {%- endfor -%}
  </div>
{%- endcapture -%}
{{ heroSlider | strip_newlines }}
<script>
  $(window).on('load', function() {
    $('.hero-slider').slick({
      dots: false,
      arrows: true,
      infinite: true,
      speed: 300,
      autoplay: false,
      pauseOnFocus: false,
      adaptiveHeight: true
    });
  });
</script>
{% schema %}
  {
    "name": "Hero Slider Find Salon",
    "settings": [],
    "blocks": [
      {
        "type": "image-slide",
        "name": "Image",
        "settings": [
          {
            "id": "banner_enable",
            "type": "checkbox",
            "label": "Enable",
            "default": true
          }, {
            "type": "image_picker",
            "id": "desktop_image",
            "label": "Desktop Image"
          }
        ]
      }, {
        "type": "video-slide",
        "name": "Video",
        "settings": [
          {
            "id": "video_enable",
            "type": "checkbox",
            "label": "Enable",
            "default": true
          }, {
            "type": "text",
            "id": "video_path",
            "label": "Video URL"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Hero Slider Find Salon",
        "category": "Slider"
      }
    ]
  }
{% endschema %}