.accordion-block .item {
  padding: 15px 0;
  border-bottom: 1px solid #b9c0c9;
}
@media (min-width: 1300px) {
  .accordion-block .item {
    padding-top: calc(100vw * 0.0161440588);
    padding-bottom: calc(100vw * 0.0161440588);
  }
}
@media (max-width: 768px) {
  .accordion-block .item {
    padding: 20px 0;
  }
}
.accordion-block .item .header {
  cursor: pointer;
  padding-right: 35px;
  position: relative;
}
.accordion-block .item .header:after {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  border: solid #022038;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
  margin-top: -9px;
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
}
.accordion-block .item .header h3 {
  font-size: 23px;
  margin: 0;
  color: #001b39;
  font-weight: 500;
  padding-right: 15px;
}
.accordion-block .item.grey-bg .header {
  background: #f5f5f5;
  padding: 20px;
}
.accordion-block .item.grey-bg .header:after {
  right: 20px;
}
.accordion-block .item .header h4 {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 0;
  color: #001b39;
}
@media (max-width: 768px) {
  .accordion-block .item .header h4 {
    display: none;
  }
}
.accordion-block .item .header.is-open:after {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  margin-top: -3px;
}
.accordion-block .item .content {
  display: none;
}
.accordion-block .item .content p {
  font-size: 14px;
}
.accordion-block .item .content p:last-child {
  margin-bottom: 0;
}
.accordion-block .item:last-child {
  border-bottom: 0;
}
@media (max-width: 768px) {
  .accordion-block .item:last-child {
    border-bottom: 1px solid #b9c0c9;
  }
}
.accordion-block.col2 .item:last-child {
  border-bottom: 1px solid #b9c0c9;
}
@media only screen and (max-width: 767px) {
  .accordion-block .item .header h3 {
    font-size: 17px;
  }
}
