@media only screen and (min-width: 950px) {
  #cogsworthBookingPopup {
    min-height: 610px;
  }
}
@media only screen and (max-width: 949px) {
  #cogsworthBookingPopup {
    min-height: calc(100vh - 30px);
  }
}
#cogsworthBookingPopup .popup-content-wrap {
  padding: 5px;
}
#cogsworthBookingPopup .mfp-close {
  right: 33px;
  top: 23px;
}
#cogsworthBookingPopup .popup-content-wrap iframe {
  display: block;
}
@media only screen and (max-width: 480px) {
  #cogsworthBookingPopup .mfp-close {
    right: 15px;
    top: 23px;
  }
}
