.accordion{
  padding: 15px 0;
  border-bottom: 1px solid #b9c0c9;
  border-top:none;
}
.accordion:last-child {
    border-bottom: 0;
}
@media (min-width: 1300px) {
  .accordion{
    padding-top: calc(100vw* 0.0161440588);
    padding-bottom: calc(100vw* 0.0161440588);
  }
}
.accordion summary{
  padding:0;
}
.accordion .summary__title+.icon-caret{
  width:17px;
  height:17px;
}
.product__accordion .accordion__content{
  padding:0;
  margin:0;
}
.product__accordion .accordion__content p:last-child{
  margin-bottom:0;
}
.product__accordion .accordion__content ul{
  list-style-position:outside;
}