.sw-widget-container-booking-summary:before,
.sw-widget-container-employee-meet-the-team:before {
  content: "Booking Enquiry";
}
.bookingPolicy,
#showPolicy {
  display: none;
}
.bookingPolicy {
  padding: 10px;
  background: #f2f2f2;
  margin-top: 10px;
}
