.find-a-salon {
  padding: 40px 0;
}
@media (max-width: 768px) {
  .find-a-salon {
    padding: 20px 0;
  }
}
.find-a-salon h1 {
  text-transform: uppercase;
  font-size: calc(100vw * 0.0308);
  font-family: "Helvetica Neue LT Std 57 Condensed";
  color: #001e37;
  letter-spacing: 0;
  line-height: 1.1;
  margin-top: 0;
}
@media (max-width: 768px) {
  .find-a-salon h1 {
    font-size: calc(100vw * 0.052083);
  }
}
.find-a-salon .hero-content {
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -moz-justify-content: flex-start;
  margin-bottom: 50px;
}
@media (max-width: 768px) {
  .find-a-salon .hero-content {
    margin-bottom: 20px;
  }
}
.find-a-salon .column-2 .column {
  width: 50%;
}
@media (max-width: 768px) {
  .find-a-salon .column-2 .column {
    width: 100%;
  }
}
.find-a-salon .hero-slider .item {
  display: none;
  height: 520px;
}
@media (max-width: 768px) {
  .find-a-salon .hero-slider .item {
    height: auto;
  }
}
.find-a-salon .hero-slider .item:first-child {
  display: block;
}
.find-a-salon .hero-slider .item img {
  height: 520px;
  object-fit: cover;
  width: 100%;
}
@media (max-width: 768px) {
  .find-a-salon .hero-slider .item img {
    height: auto;
  }
}
.find-a-salon .hero-slider .item .video-item {
  align-items: center;
  height: 100%;
}
.find-a-salon .hero-slider .item video {
  width: 100%;
  display: block;
}
.find-a-salon .hero-slider.slick-initialized .item {
  display: block;
}
.find-a-salon .hero-slider .slick-arrow.slick-prev {
  left: 12px;
}
.find-a-salon .hero-slider .slick-arrow.slick-next {
  right: 12px;
}
@media (max-width: 991px) {
  .find-a-salon .hero-slider .slick-arrow:before {
    top: 7px;
  }
  .find-a-salon .hero-slider .slick-arrow:after {
    top: 20px;
  }
}
.find-a-salon .search-module {
  padding-left: calc(100vw * 0.035);
  margin-top: -25px;
}
@media (max-width: 768px) {
  .find-a-salon .search-module {
    margin-top: 20px;
    padding-left: 0;
  }
}
.find-a-salon .search-module .map {
  margin-top: 52px;
}
@media (max-width: 768px) {
  .find-a-salon .search-module .map {
    margin-top: 20px;
  }
}
.find-a-salon .search-module .search {
  position: relative;
}
.find-a-salon .search-module .search button {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  width: 50px;
  border: none;
  background: none;
  padding: 0;
}
.find-a-salon .search-module .search button:focus {
  outline: none;
}
.find-a-salon .search-module .search button svg {
  display: block;
  max-height: 40px;
}
@media (max-width: 768px) {
  .find-a-salon .search-module .search button svg {
    max-height: 30px;
  }
}
.find-a-salon .search-module input[type="text"] {
  width: 100%;
  border: none;
  border-bottom: 2px solid #001939;
  padding: 25px 60px 25px 0;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 21px;
}
@media (max-width: 768px) {
  .find-a-salon .search-module input[type="text"] {
    font-size: 18px;
    padding: 20px 50px 20px 0;
  }
}
.find-a-salon .search-module input[type="text"]:focus {
  outline: none;
}
