.find-a-salon .accordion-block .flex-container {
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  -moz-justify-content: space-between;
  align-items: flex-start;
  -webkit-align-items: flex-start;
  -ms-align-items: flex-start;
  -moz-align-items: flex-start;
}
.find-a-salon .accordion-block .item {
  width: calc(50% - 19px);
}
.find-a-salon .accordion-block .item h3 {
  margin: 0;
  font-size: 20px;
}
.find-a-salon .accordion-block .item h3 a {
  text-decoration: none;
}
@media (max-width: 768px) {
  .find-a-salon .accordion-block .item h3 {
    font-size: 17px;
  }
}
@media (max-width: 768px) {
  .find-a-salon .accordion-block .item {
    width: 100%;
    padding: 15px 0;
  }
}
.find-a-salon .accordion-block .content .column-2 {
  padding: 25px 10px 0 0;
}
@media (max-width: 768px) {
  .find-a-salon .accordion-block .content .column-2 {
    padding-top: 5px;
  }
}
.find-a-salon .accordion-block .content h4 {
  margin-top: 0;
  margin-bottom: 10px;
  color: #001e37;
  font-size: 18px;
}
@media (max-width: 768px) {
  .find-a-salon .accordion-block .content h4 {
    font-size: 16px;
  }
}
.find-a-salon .accordion-block .content ul {
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .find-a-salon .accordion-block .content ul {
    margin-bottom: 0;
  }
}
@media (min-width: 1025px) {
  .find-a-salon .masonry-grid {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
  }
}
.find-a-salon .masonry-grid .grid-item {
  width: 48%;
  padding: 10px;
}
@media (max-width: 480px) {
  .find-a-salon .masonry-grid .grid-item {
    width: 100%;
  }
}
.find-a-salon .masonry-grid.visible {
  opacity: 1;
  visibility: visible;
}
.custom-scroll {
  height: 300px;
  overflow-y: auto;
}
.custom-scroll::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
  position: relative;
  right: 10px;
}
.custom-scroll::-webkit-scrollbar-track {
  background: #ccc;
  border-radius: 10px;
}
.custom-scroll::-webkit-scrollbar-thumb {
  background: #aeaeae;
  border-radius: 10px;
}
.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #555;
}
