.treatment-block h2 {
  text-transform: uppercase;
  font-family: "Helvetica Neue LT Std 57 Condensed";
  color: #001e37;
  font-size: calc(100vw * 0.0308);
  letter-spacing: 0;
  margin-top: 0;
  line-height: 1.1;
}
@media (max-width: 768px) {
  .treatment-block h2 {
    font-size: calc(100vw * 0.052083);
  }
}
.treatment-block .full-width-banner-slider {
  margin-bottom: 40px;
}
.treatment-block
  .full-width-banner-slider
  .slick-slider
  .slick-arrow.slick-prev {
  left: 25px;
}
.treatment-block
  .full-width-banner-slider
  .slick-slider
  .slick-arrow.slick-next {
  right: 25px;
}
.treatment-block .grid-block {
  margin-bottom: 40px;
}
@media (max-width: 768px) {
  .treatment-block .grid-block {
    margin-bottom: 20px;
  }
}
.treatment-block .grid-block .flex-container {
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  -moz-justify-content: space-between;
}
.treatment-block .grid-block.column-2 .item {
  width: calc(50% - 16px);
}
@media (max-width: 768px) {
  .treatment-block .grid-block.column-2 .item {
    width: 100%;
    margin-bottom: 20px;
  }

  .treatment-block .grid-block.column-2 .item:last-child {
    margin-bottom: 0;
  }
}
.treatment-block .grid-block.column-2 .grid-content {
  padding-top: calc(100vw * 0.0263157);
  padding-right: calc(100vw * 0.0263157);
  padding-bottom: calc(100vw * 0.0263157);
  padding-left: calc(100vw * 0.0426315);
}
@media (max-width: 768px) {
  .treatment-block .grid-block.column-2 .grid-content {
    padding: calc(100vw * 0.1302083);
  }
}
.treatment-block .grid-block.column-2 .grid-content.flex-container {
  align-items: center;
}
.treatment-block .grid-block.column-2 .grid-content .inner {
  max-width: 340px;
}
.treatment-block .grid-block.column-2 .grid-content h3 {
  font-family: "Helvetica Neue LT Std 57 Condensed";
  line-height: 1.1;
  font-size: calc(100vw * 0.0258);
  letter-spacing: 0;
  margin-top: 0;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .treatment-block .grid-block.column-2 .grid-content h3 {
    font-size: calc(100vw * 0.052083);
  }
}
.treatment-block .grid-block.column-2 .grid-content p {
  color: #ffffff;
  font-size: 16px;
  margin: 0;
}
@media (max-width: 768px) {
  .treatment-block .grid-block.column-2 .grid-content p {
    font-size: 14px;
  }
}
.treatment-block .grid-block.column-2 .grid-content a.btn {
  padding: 20px 15px;
  font-size: 15px;
  text-transform: uppercase;
  background-color: #ffffff;
  color: #001e37;
  text-align: center;
  text-decoration: none;
  max-width: 200px;
  width: 100%;
  font-weight: 700;
  margin-top: 30px;
}
@media (max-width: 1024px) {
  .treatment-block .grid-block.column-2 .grid-content a.btn {
    font-size: 16px;
    padding: 15px;
  }
}
@media (max-width: 768px) {
  .treatment-block .grid-block.column-2 .grid-content a.btn {
    font-size: calc(100vw * 0.02039);
  }
}
@media (max-width: 480px) {
  .treatment-block .grid-block.column-2 .grid-content a.btn {
    font-size: 14px;
    padding: 10px;
  }
}
.treatment-block .grid-block.column-2 .grid-thumb img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 768px) {
  .treatment-block .full-width-banner-slider {
    margin-bottom: 20px;
  }
}
.treatment-block .full-width-banner-slider .item .slide-image img {
  min-height: inherit;
  height: auto;
  width: 100%;
}
.cogsworth-block {
  height: 560px;
}
