/* Magnific Popup CSS */
body .mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: rgba(0, 30, 55, 0.9);
  opacity: 1;
}
body .mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043 !important;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden;
}
body .mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  box-sizing: border-box;
}
body .mfp-container:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
body .mfp-align-top .mfp-container:before {
  display: none;
}
@media only screen and (min-width: 767px) {
  .white-popup-block {
    height: 600px;
    overflow-y: auto;
  }
}
body .mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045;
  max-width: 890px;
  width: 100%;
  background-color: #ffffff;
  min-height: 200px;
}
body .mfp-inline-holder .mfp-content,
body .mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto;
}
body .mfp-ajax-cur {
  cursor: progress;
}
body .mfp-zoom-out-cur,
body .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}
body .mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}
body .mfp-auto-cursor .mfp-content {
  cursor: auto;
}
body .mfp-close,
body .mfp-arrow,
body .mfp-preloader,
body .mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
body .mfp-loading.mfp-figure {
  display: none;
}
body .mfp-hide {
  display: none !important;
}
body .mfp-preloader {
  color: #ccc;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044;
}
body .mfp-preloader a {
  color: #ccc;
}
body .mfp-preloader a:hover {
  color: #fff;
}
body .mfp-s-ready .mfp-preloader {
  display: none;
}
body .mfp-s-error .mfp-content {
  display: none;
}
body button.mfp-close,
body button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  box-shadow: none;
  touch-action: manipulation;
}
body button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
body .mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  padding: 0 0 18px 10px;
  color: #fff;
  font-style: normal;
  font-size: 28px;
  background: url(//cdn.shopify.com/s/files/1/0119/6028/7313/t/44/assets/icon-cross-light-grey-small.png?v=9480283514696178338)
    no-repeat;
}
body .mfp-close:hover,
body .mfp-close:focus {
  opacity: 1;
}
body .mfp-close:active {
  top: 1px;
}
body .mfp-close-btn-in .mfp-close {
  color: #333;
}
body .mfp-image-holder .mfp-close,
body .mfp-iframe-holder .mfp-close {
  color: #fff;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%;
}
body .mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #ccc;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap;
}
body .mfp-arrow {
  position: absolute;
  opacity: 0.65;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent;
}
body .mfp-arrow:active {
  margin-top: -54px;
}
body .mfp-arrow:hover,
body .mfp-arrow:focus {
  opacity: 1;
}
body .mfp-arrow:before,
body .mfp-arrow:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 35px;
  margin-left: 35px;
  border: medium inset transparent;
}
body .mfp-arrow:after {
  border-top-width: 13px;
  border-bottom-width: 13px;
  top: 8px;
}
body .mfp-arrow:before {
  border-top-width: 21px;
  border-bottom-width: 21px;
  opacity: 0.7;
}
body .mfp-arrow-left {
  left: 0;
}
body .mfp-arrow-left:after {
  border-right: 17px solid #fff;
  margin-left: 31px;
}
body .mfp-arrow-left:before {
  margin-left: 25px;
  border-right: 27px solid #3f3f3f;
}
body .mfp-arrow-right {
  right: 0;
}
body .mfp-arrow-right:after {
  border-left: 17px solid #fff;
  margin-left: 39px;
}
body .mfp-arrow-right:before {
  border-left: 27px solid #3f3f3f;
}
body .mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px;
}
body .mfp-iframe-holder .mfp-content {
  line-height: 0;
  width: 100%;
  max-width: 900px;
}
body .mfp-iframe-holder .mfp-close {
  top: -40px;
}
body .mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%;
}
body .mfp-iframe-scaler iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #000;
}
body img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto;
}
body .mfp-figure {
  line-height: 0;
}
body .mfp-figure:after {
  content: "";
  position: absolute;
  left: 0;
  top: 40px;
  bottom: 40px;
  display: block;
  right: 0;
  width: auto;
  height: auto;
  z-index: -1;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #444;
}
body .mfp-figure small {
  color: #bdbdbd;
  display: block;
  font-size: 12px;
  line-height: 14px;
}
body .mfp-figure figure {
  margin: 0;
}
body .mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto;
}
body .mfp-title {
  text-align: left;
  line-height: 18px;
  color: #f3f3f3;
  word-wrap: break-word;
  padding-right: 36px;
}
body .mfp-image-holder .mfp-content {
  max-width: 100%;
}
body .mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer;
}
body .mfp-close-btn-in .mfp-close {
  text-indent: -99em;
  overflow: hidden;
  background: url(//cdn.shopify.com/s/files/1/0119/6028/7313/t/44/assets/icon-cross-light-grey-small.png?v=9480283514696178338)
    no-repeat center center;
  background-size: 20px 20px;
  top: 20px;
  right: 20px;
  width: 20px;
  height: 20px;
}
